*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
gradle/gradle-daemon-jvm.properties
captures
.externalNativeBuild
.cxx
node_modules/
kotlin-js-store/
*.keystore
*.jks
keystore.properties
